.button{
  background-color: #1fa2ff;
  color: white;
  border: none;
  border-radius:3px;
  padding: 5px 10px;
  cursor: pointer;
  margin: 5px;
}

.button:hover{
  background-color: #138be0;
}

.button:active{
  background-color: #7ac0f2;
}